<section>
    <div class="side-column">
        <div class="row client-info">
            <h3>Client</h3>
            <div class="headshot"></div>
        </div>
        <div class="row reviews">
            <a href="#" class="btn btn-lg btn-danger yelp">Yelp</a>
            <a href="#" class="btn btn-lg btn-primary zillow">zillow</a>
            <a href="#" class="btn btn-lg btn-success trulia">trulia</a>
        </div>
        <div class="row bio">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint cum molestiae, libero accusantium molestias ipsa, nobis eaque alias delectus. Eligendi optio ullam vero fuga voluptates voluptatum rerum atque eveniet qui!</p>
            <p>Quia, nobis, magni. Corporis saepe harum illum dolorum rem delectus! Fuga perspiciatis expedita deserunt vel eum, consectetur, temporibus quam officiis quidem voluptatem, recusandae suscipit illo maiores! Facere asperiores inventore corporis.</p>
        </div>
<!--
        <div class="row">
            <iframe width="300" height="250" frameborder="0" style="border:0; margin-left: 12%;"
                    src="https://www.google.com/maps/embed/v1/place?q=3205+N+90th+St,+Omaha,+NE,+United+States&key=AIzaSyBEsf4RIQ460nGNV2pJ2HXzhfNK8UrBB9s"></iframe>
          </div>
-->
        <div class="row contact-info center-block">
            <address itemscope='realestateagent' itemtype='http://schema.org/RealEstateAgent'>
                <strong itemprop="founder">Client Name</strong><br>
                <span itmprop="brand">Client Company</span><br>
                <span itemprop="address">Client address</span><br>
                <a href="tel:#" itemprop="telephone">Client Phone</a><br>
                <a href="mailto:#" itemprop="email">Client Email</a>
            </address>
        </div>
        <div class="row contact-form">
            <form action="" method="post">
                <input type="text">
                <input type="text">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <input type="submit">
            </form>
        </div>
    </div>
</section>