<section>
    <div class="side-column">
        <div class="row client-info">
            <h3>Client</h3>
            <img class="headshot" src="http://fillmurray.com/500/500">
        </div>
        <div class="row reviews">
            <a href=# class="btn btn-small btn-success yelp">Yelp</a>
            <a href=# class="btn btn-small btn-success zillow">zillow</a>
            <a href=# class="btn btn-small btn-success trulia">trulia</a>
        </div>
        <div class="row bio">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint cum molestiae, libero accusantium molestias ipsa, nobis eaque alias delectus. Eligendi optio ullam vero fuga voluptates voluptatum rerum atque eveniet qui!</p>
            <p>Quia, nobis, magni. Corporis saepe harum illum dolorum rem delectus! Fuga perspiciatis expedita deserunt vel eum, consectetur, temporibus quam officiis quidem voluptatem, recusandae suscipit illo maiores! Facere asperiores inventore corporis.</p>
        </div>
        <div class="row contact-info">
            <address itemscope='realestateagent' itemtype='http://schema.org/RealEstateAgent'>
                <strong itemprop="founder">Client Name</strong><br>
                <span itmprop="brand">Client Company</span><br>
                <span itemprop="address">Client address</span><br>
                <a href="tel:#" itemprop="telephone">Client Phone</a>
                <a href="mailto:#" itemprop="email">Client Email</a>
            </address>
        </div>
    </div>
</section>