// Base styles
body
    background-color #f4f4f4
a
    color $brand-color
    &:hover
        color $brand-light
    &:visted
        color $brand-dark
    &:focus
        color $brand-dark
p
    margin 10px 0px
    
// Helpers
.hidden
    display none
