.jumbotron.hero
    background: $brand-color
    background-repeat no-repeat
    background-size cover
    background-position top center
    background-attachment fixed
    height 600px
    text-align center
    line-height 100%
    color white
    display flex
    flex-direction column
    align-content stretch
    align-items stretch
    justify-content center
    text-shadow 2px 2px 5px rgba(0,0,0,0.75)
    .blog-logo
        margin-top 50px
        img
            max-width 60%
          