.jumbotron.hero
    background: $brand-color
    background-repeat no-repeat
    background-size cover
    background-position top center
    background-attachment fixed
    height 500px
    position relative
    text-align center
    line-height 100%
    color white

.blog-logo
    margin-top 50px
    img
        max-width 50%
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        