.jumbotron.hero
    background: $brand-color
    background-repeat no-repeat
    background-size cover
    background-position top center
    background-attachment fixed
    height 45vh
    position relative
    text-align center
    line-height 100%
    color white

.hero-logo
    img
        width 40%