.navbar-brand
    img
       height 25px
.nav.navbar-nav
    a
        color: white
        &:hover
            background: none
            color $brand-color
.navbar-inverse
            .nav.navbar-nav
                li
                    a
                        color white
                        &:hover
                            color $brand-color
.navbar-toggle
    .icon-bar
        background white
        
#navbar-links
    overflow: hidden
.socials
    margin-top 15px
    padding-left 0px
    li
        display inline
        a
            padding 15px
            font-size 16px
.collapse.in
    margin-bottom 1em