.side-column
    background-color red
    /* display flex
    flex-direction column */
    
.client-info
    position relative
    text-align center
    
.headshot
    max-width 50%
    border-radius 50%
    margin 1em
    display inline block

.reviews
    text-align center
    margin 1em 0em
        
    
.bio
    margin 0 1.5em
    